/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
/* Colors */
:root {
    --lightblue: #add8e6;
    --orange: #daa520;
    --darkblue: #00008b;
    --fuchsia: #ee82ee;
    --blue: #1e90ff;
    --pink: #ffc0cb;
    --grey: #d3d3d3;
    --darkgreen: #228b22;
    --coral: #f08080;
    --green: #20b2aa;
    --lightgreen: #7fffd4;
    --black: #23272a;
}

/*  */
:root {
    --blackborder: 2px dashed black;
}

/* GENERAL */
.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
}

.flex {
    display: flex;
}

/* HEADER */
header {
    height: 50px;
    padding: 10px;
    /* debug */
    background-color: var(--lightblue);
}

.container.flex {
    align-items: center;
    /* debug */
    background-color: var(--orange);
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.logo {
    width: 20%;
    /* debug */
    border: var(--blackborder);
}

.header-nav.flex {
    width: 60%;
    justify-content: center;
    /* debug */
    border: 2px dashed black;
}

.login {
    width: 20%;
    text-align: right;
    /* debug */
    border: 2px dashed black;
}

/* MAIN */
/* Blue section */
.blue-section {
    background-color: var(--darkblue);
    padding: 35px;
}

.fuchsia {
    width: 70%;
    margin: 0 auto;
    min-height: 300px;
    /* debug */
    background-color: var(--fuchsia);
    border: var(--blackborder);
}

/* White section */
.section-container{
    width: 80%;
    margin: 0 auto;
    /* debug */
}

.section-container.flex {
    padding: 40px 0;
}

.blue {
    min-height: 500px;
    width: 60%;
    /* debug */
    background-color: var(--blue);
    border: var(--blackborder);
}

.pink {
    min-height: 500px;
    width: 40%;
    /* debug */
    background-color: var(--pink);
    border: var(--blackborder);
}

/* Grey section */
.grey-section {
    background-color: var(--grey);
}