/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
/* Colors */
:root {
    --lightblue: #add8e6;
    --orange: #daa520;
    --darkblue: #00008b;
    --fuchsia: #ee82ee;
    --blue: #1e90ff;
    --pink: #ffc0cb;
    --grey: #d3d3d3;
    --darkgreen: #228b22;
    --coral: #f08080;
    --green: #20b2aa;
    --lightgreen: #7fffd4;
    --black: #23272a;
}

/*  */
:root {
    --blackborder: 2px dashed black;
}

/* GENERAL */
.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
}

/* HEADER */
header {
    height: 50px;
    padding: 10px;
    /* debug */
    background-color: var(--lightblue);
}

.container.header-container {
    background-color: var(--orange);
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.logo {
    width: 20%;
    border: var(--blackborder);
}

.header-nav {
    width: 60%;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
}

.login {
    border: 2px dashed black;
    width: 20%;
    text-align: right;
}

/* MAIN */
.blue-section {
    background-color: var(--darkblue);
    padding: 35px;
}

.fuchsia {
    width: 70%;
    margin: 0 auto;
    min-height: 300px;
    background-color: var(--fuchsia);
    border: var(--blackborder);
}